.dashboard-container{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-left: 2em;
    gap: 2em;
    background-color: #C9D1D9;
    padding: 2em;
    border-radius: 15px;
    color: black;
}
.dashboard_filter_form{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 1em;
    gap: 1em;
    align-items: end;
}

.dashboard_date_div{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
.dashboard_filter_select,
.dashboard_filter_input{
    padding: 0.5em;
    border-radius: 10px;
    border: none;
}
.date_submit{
    width: 3em;
    height: 2.4em;
    cursor: pointer;
}
.date_submit:hover{
    background-color: #ddd;
}
.dashboard_subtitle{
    width: 100%;
    text-align: center;
}
.dashboard-charts{
    display: flex;
    width: 40em;
    height: 20em ;
    aspect-ratio: auto;
    margin: 1em;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.dashboard-charts canvas {
    aspect-ratio: auto;

}

.dashboard-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15%;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: 1em 0;
}

.card-title {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 1em;
}

.card-value {
    font-size: 2em;
    font-weight: bold;
    color: #1B2735;
}

@media(max-width:1820px){
    .dashboard-container{
        position: absolute;
        margin-top: 3em;
        padding:1em;
        left: 0;
        width: 85%;
        gap: 5em;
        margin-left: 5%;
    }
    .dashboard-charts{
        width: 100% ;
        height:100% ;
        aspect-ratio: auto 20 / 10;
    }
    .dashboard_filter_select{
        max-width: 16em;
    }
    .card-title {
        font-size: 1em;

    }
}