header{
    width: 15%;
    height: 100vh;
}
.header__img__list{
    margin: 1% 0 0 1%;
    width: 4em;
    padding: 0;

}
.header__img__menu{
    width: 1em;
}
.header_user{
    text-align: center;
    padding: 1em;
    margin-bottom: 2em;
}
.header__img__avatar{
    width: 5em;

}
.header_modal_link_container{
    padding-right: 1em;
}
.header__section{
    margin: 0;
    padding: 0.5em;
    display:flex;
    justify-content: center;
    align-items:center;


}

.header__title{
    margin-top: 0.5em;
    margin-bottom: 3em;
    font-size: 2.5em;
    color: #C9D1D9;
    width: 90%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.header__modal__links{
    display: flex;
    flex-direction: column;
    background-color: #2C313C;
    background: linear-gradient(to right, #1B2735, #3A4B5C);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: #C9D1D9;
    padding-top: 5em;
    padding-bottom: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0em;
    width: 15%;
    height: 60%;
    font-size: 1em;
    overflow: auto;

}

.header__modal__link{
    text-decoration: none;
    color: #C9D1D9;
    padding: 8%;
    margin-left: 1%;
    font-size: 1.5rem;
    font-weight: 600;
}

.header__modal__link:hover{
    background-color: var(--color_transparency_ten);
    color: black;
}

@media(max-width:1820px){
    header{
        height: 100vh;
        height: 10%;
    }
    .header__title{
        margin-bottom: 0;
    }
    .header__modal__links{
        display: none;
        width: 20em;
    }
    .main_section{
        width: 100%;
    }
}