header{
    width: 20%;
    height: 100vh;
}
.header__img__list{
    margin: 1% 0 0 1%;
    width: 4em;
    padding: 0;

}
.header__img__menu{
    width: 1em;
}
.header_modal_link_container{
    padding-right: 1em;
}
.header__section{
    margin: 0;
    padding: 0;
    display:flex;
    justify-content: center;
    align-items:center;
    overflow: auto;

}

.header__title{
    margin: 0;
    font-size: 3.5em;
    color: #C9D1D9;
    width: 95%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.header__modal__links{
    display: flex;
    flex-direction: column;
    background-color: #2C313C;
    color: #C9D1D9;
    padding-top: 5em;
    padding-bottom: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0em;
    width: 20%;
    height: 100vh;
    overflow: auto; /* Enable scroll if needed */
    font-size: 1em;

}

.header__modal__link{
    text-decoration: none;
    color: #C9D1D9;
    padding: 8%;
    margin-left: 1%;
    font-size: 1.5rem;
    font-weight: 600;
}

.header__modal__link:hover{
    background-color: var(--color_transparency_ten);
}