@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Chakra+Petch:wght@600&family=Montserrat:wght@600&display=swap');
@import url('header.css');
@import url('login.css');
@import url('footer.css');
@import url('execution.css');
@import url('configuration.css');
@import url('dashboard.css');

:root{
    --image_background_login:url('../assets/login_page.png');
    --image_background_pages:url('../assets/background_pages.png');
    --font_primary: 'Inter',sans-serif;
    --color_transparency_one:#7d9bab;
    --color_transparency_two:#506b7b;
    --color_transparency_three:#051933;  
    --color_transparency_four:#232829;
    --color_transparency_five:#FFF;
    --color_transparency_six:#888;
    --color_transparency_seven:#ccc;
    --color_transparency_eight:#7d9bab;
    --color_transparency_nine:#ccc;
    --color_transparency_ten:#aaa;
    --color_transparency_eleven:rgba(0,0,0,0.4);
    --color_transparency_twelve:#000;


}


body, html {
    /* height: 100%;  */
    margin: 0;
    padding: 0;
    font-family: var(--font_primary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #0D1117;
    background: linear-gradient(to bottom, #051933, transparent);
    background-attachment: fixed;
    min-height: 100vh;
    color: #C9D1D9;

}
main{
    flex: 1;
}
.container{
    display: flex;
    height: 100vh;
    flex: 1;
}



#loading{
    display: none;
    position: fixed;
    top: 0;
    left: 15%;
    z-index:2; /* Sit on top */
    width: 85%; /* Full width */
    height: 100%; /* Full height */
    background: linear-gradient(to right, #1B2735, #3A4B5C); /* Black w/ opacity */
    opacity: 0.5;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 3em;
    height: 3em;
    animation: spin 2s linear infinite;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

::-webkit-scrollbar {
    width: 0.3em;
    height: 0.3em;
  }
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 15px;
}

@media(max-width:1820px){
    #loading{
        left: 0;
        width: 100%;
    }
}