@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&family=Montserrat:wght@600&display=swap');
@import url('execution.css');

:root{
    --image_background_login:url('../assets/login_page.png');
    --image_background_pages:url('../assets/background_pages.png');
    --font_primary: 'Chakra Petch',sans-serif;
    --color_transparency_one:#7d9bab;
    --color_transparency_two:#506b7b;
    /* --color_transparency_three:#0b1011; */
    /* --color_transparency_three:#01080E; */
    --color_transparency_three:#051933;  
    --color_transparency_four:#232829;
    --color_transparency_five:#FFF;
    --color_transparency_six:#888;
    --color_transparency_seven:#ccc;
    --color_transparency_eight:#7d9bab;
    --color_transparency_nine:#ccc;
    --color_transparency_ten:#aaa;
    --color_transparency_eleven:rgba(0,0,0,0.4);
    --color_transparency_twelve:#000;


}


body, html {
    height: 100%; /* Make sure the html and body cover the full height of the viewport */
    margin: 0;
    padding: 0;
    font-family: var(--font_primary)
}
.header__img__list{
    margin: 1% 0 0 1%;
    width: 4em;
    padding: 0;

}
.header__img__menu{
    width: 1em;
}
.header_modal_link_container{
    padding-right: 1em;
}
.header__section{
    margin: 0;
    padding: 0;
    display:flex;
    justify-content: center;
    align-items:center;
    overflow: auto;

}

.header__title{
    margin: 0;
    font-size: 3.5em;
    color: var(--color_transparency_five);
    width: 95%;
    text-align: center;
}

.header__modal__links{
    display: none;
    flex-direction: column;
    background-color: var(--color_transparency_five);
    padding-top: 5em;
    /* padding-bottom: 100%; */
    border-radius: 0 50px 50px 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 20em; /* Full width */
    height: 95%;
    overflow: auto; /* Enable scroll if needed */
    font-size: 1em;

}

.header__modal__link{
    text-decoration: none;
    color: var(--color_transparency_three);
    padding: 8%;
    margin-left: 1%;
    font-size: 1.5rem;
    font-weight: 600;
}

.header__modal__link:hover{
    background-color: var(--color_transparency_ten);
}
.homepage{
    margin-top: 5em;
}

.homepage::before {
    content: ''; 
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    background: var(--image_background_login) center center no-repeat;
    background-size: cover;
    z-index: -1; /* Place the background behind the content */
    opacity: 1; /* Adjust for desired darkness */
    top: 0;
    left: 0;
}

.homepage::after {
    content: '';
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    background: var(--color_transparency_three); 
    opacity: 0.4;
    z-index: -1; 
    top: 0;
    left: 0;
}

.homepage__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap:5%

}

.homepage__content__div__title{
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0.8;
    border-radius: 100px;
    padding: 2em;

}

.homepage__content__title{
    font-size: 4rem;
    font-weight: 600;
    color: var(--color_transparency_five);
    margin: 5% 0 0 0;
    
}

.homepage__content__container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: var(--color_transparency_three);
    opacity: 0.7;
    margin: 2%;
    padding: 6%;
    border-radius: 10%;
    border: 1px solid white;

}

.homepage__content__container__input{
    border-radius: 10px;
    padding: 1em;
    border: 1px solid var(--color_transparency_seven);
    opacity: 0.9;
    outline: none;
    /* border: 2px solid black; */

}

.hover__button:hover{
    background-color: var(--color_transparency_one);
}

#loading{
    display: none;
    position: fixed;
    top: 0;
    z-index: 2; /* Sit on top */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: var(--color_transparency_three); /* Black w/ opacity */
    opacity: 0.5;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 3em;
    height: 3em;
    animation: spin 2s linear infinite;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10%;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.rodape{
    position: relative;
    left: 0;
    bottom: 0;
    width: auto; /* Or specify a width if you want */
    color: var(--color_transparency_five); /* Example text color */
    padding: 10px; /* Example padding */
}

::-webkit-scrollbar {
    width: 0.3em;
    height: 0.3em;
  }
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 15px;
}